{% extends "layout.html" %}

{% block head %}
<title>Přidat město</title>
{% endblock %}

{% block body %}
<div class="container-login">
    <div class="login-page">
        <h2 id="login_h2">Přidat Město</h2>
        <form action="/addCity" class="login-form" method="POST">
            <div class="form-group" style="margin-bottom: 15px">
                <input type="text" placeholder="Název města" name="name"/>
            </div>
            <div class="form-group">
                <button type="submit">Uložit</button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}