{% extends "layout.html" %}

{% block head %}
<title>Přidat školu</title>
{% endblock %}

{% block body %}
<div class="container-login">
    <div class="login-page">
        <h2 id="login_h2">Přidat Školu</h2>
        <form action="/addSchool" class="login-form" method="POST">
            <div class="form-group">
                <input type="text" placeholder="Název školy" name="school"/>
            </div>
            <!-- Předělat na dropdowny -->
            <div class="form-group" style="margin-bottom: 5px">
                <input type="text" style="margin-bottom:-3px" placeholder="Město" name="city"/>
                <a href="/addCity" style="text-decoration: none; font-size: 12px; color: grey; ">Přidat město</a>
            </div>
            <div class="form-group" style="margin-bottom: 5px">
                <input type="text" style="margin-bottom:-3px" placeholder="Název oboru" name="field"/>
                <a href="/addField" style="text-decoration: none; font-size: 12px; color: grey; ">Přidat obor</a>
            </div>
            <div class="form-group">
                <input type="number" placeholder="Počet přijatých žáků" name="num_of_accepted"/>
            </div>
            <div class="form-group">
                <input type="number" placeholder="Rok" name="year"/>
            </div>
            <div class="form-group">
                <button type="submit">Uložit</button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}